# 作业（1）：
18

# 作业（2）：
返回值：None

输出：3

# 作业（3）：
0

# 作业（4）：
1 2 5

# 作业（5）：
## 作业（5.1）：
1 (2, 3)

## 作业（5.2）：
1 {'c': 3, 'b': 2}

# 作业（6）：

[1]

[1, 2]

# 作业（7）：

In [5]:
import pandas as pd

df = pd.read_csv('./grades.csv')

df['平均成绩'] = df.iloc[:,2:].mean(axis=1)
df['等第成绩'] = pd.qcut(df['平均成绩'], [0, 0.25, 0.5, 0.75, 1], labels=['D', 'C', 'B', 'A'])
df = df.sort_values(by=['平均成绩'], ascending=False)
result_df = df[['学号', '姓名', '等第成绩']]
result_df.to_csv('./graded.csv', index=True)
result_df

       学号   姓名 等第成绩
1   23002  唐丽丽    A
16  23017  陈秀荣    A
12  23013  张文武    A
5   23006  张日晶    A
14  23015  方秀兰    A
13  23014  彭淑英    B
18  23019   岳龙    B
10  23011  谭杨生    B
17  23018  王楠喃    B
4   23005  侯秀珍    B
15  23016  朱王婷    C
2   23003   白亮    C
7   23008   苏洋    C
0   23001   蔡莉    C
9   23010  王宇宙    C
19  23020  刘岩方    D
11  23012  滕志强    D
8   23009  张大刚    D
6   23007   戴瑞    D
3   23004  汤以敏    D

# 作业（8）：

In [42]:
import chardet
# 检测文件编码
with open('email_text.txt', 'rb') as file:
    raw_data = file.read()
    result = chardet.detect(raw_data)
    encoding = result['encoding']
    print(encoding)

GB2312

In [43]:
import re

email_pattern = r'\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Z|a-z]{2,}\b'

with open('email_text.txt', 'r',encoding="GB2312") as file:
    content = file.read()

emails = re.findall(email_pattern, content)

protected_emails = [email.replace(email.split('@')[1], '[protected]', 1) for email in emails]

with open('extracted_emails.txt', 'w', encoding='utf-8') as file:
    for email in protected_emails:
        file.write(email + '\n')